<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Request</title>

    <style >

       .all-data{
         background-color: #EDE6DB;
         padding : 7% 7% 10%;
       }

      .big-heading{
        font-family: cursive;
         color: #FF6363;
         text-align: center;
         font-size: 2rem;
      }
      h4{
        font-style: italic;
        color : #05595B
      }

      .span1{
        font-family: cursive;
        color: #062C30;
        font-size: 1.5rem;
        font-weight: 600;
        padding-right: 1rem;
      }

      .span2{
        font-size: 1.3rem;
        font-weight: 600;
        font-family: serif;
        padding-left: 1.6rem;
      }


    </style>

  </head>
  <body>

     <div class="all-data">
     <p class="big-heading">Hello there!!</p>
     <h4>You have a contact request from a user with the following details</h4>
      <p><span class="span1">➼ Name :</span>      <p class="span2"> {{name}} </p> </p>
      <p><span class="span1">➼ Email :</span>     <p class="span2"> {{email}}</p> </p>
      <p><span class="span1">➼ Phone :</span>     <p class="span2">   {{phone}} </p> </p>
      <p><span class="span1">➼ Message :</span>   <p class="span2">  {{message}} </p> </p>

    </div>

  </body>
</html>
