body{
  background-color: #DFDFDE;
}

.data{
   margin-top: 7rem;
   text-align: center;
}

.bigheading{
  font-size:2rem;
  font-weight:bold;
  font-family: cursive;
  color:#5584AC;
}

.content{
   padding-top: 1.5rem;
   font-family: cursive;
   color: grey;
}

.formstyling{

  width:380px;
  margin: 4rem auto;
}
